<html>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<body>
    <h1>TF-Brew</h1>
<div ng-app="tfbrew" ng-controller="tfbrewCtrl">
    <p>Target temp: <input type="number" ng-model="targetTemp"/> <button class="btn btn-primary" ng-click="submitTargetTemp()">Update</button></p>
    <p>Actual temp: {{actualTemp}} C</p>
    <p>Controller Enabled: <button class="btn btn-info" ng-class="{'active': controllerState === true}" ng-click="toggleController()">{{controllerState}}</button> Controller power: {{power}}</p>
    <p><button class="btn btn-info" ng-class="{'active': pumpState === true}" ng-click="togglePump()">{{pumpState}}</button></button></p> 
</div>

<script>
    var app = angular.module('tfbrew', []);
    app.controller('tfbrewCtrl', function($scope, $http, $interval) {
        $scope.controllerState = false;
        $scope.pumpState = false;
        $http.get("/controller")
                .then(function(response) {
                    if(response.data == 'off') {
                        $scope.controllerState = false;
                    } 
                    else if (response.data == 'on') {
                        $scope.controllerState = true;
                    } 
        });
        $http.get("/controller/target")
                .then(function(response) {
                    $scope.targetTemp = response.data;
        });

        $scope.toggleController = function() {
            if ($scope.controllerState === true) {
                $http.post("/controller/off","")
            }
            else {
                $http.post("/controller/on","")
            }
            $scope.controllerState = !$scope.controllerState;
        } 
        $scope.togglePump = function() {
            if ($scope.pumpState === true) {
                $http.post("/pump/off","")
            }
            else {
                $http.post("/pump/on","")
            }
            $scope.pumpState = !$scope.pumpState;
        } 

        $scope.submitTargetTemp = function() {
            $http.post("/controller/target",$scope.targetTemp.toString());
        }
        var updateData = function() {
            $http.get("/sensor")
                .then(function(response) {
                    $scope.actualTemp = response.data;
                });
            $http.get("/heater")
                .then(function(response) {
                    $scope.power = response.data;
                });
        }


        $interval(updateData, 2000);

    });
    </script>
</body>
</html>